.container.weather-container {
  max-width: 600px;
}

.App footer {
  font-size: 11px;
  margin: 50px 0;
  text-align: center;
}

/* DAY STYLING */

.App.day-bg {
  background-color: var(--background-color);
  height: 100vh;
}

.App.day-bg a {
  text-decoration: underline;
  color: #303030;
}

/* NIGHT STYLING */

.App.night-bg {
  background-color: #303030;
  color: white;
  height: 100vh;
}

.App.night-bg a {
  text-decoration: underline;
  color: white;
}

.App.night-bg .WeatherForecast-temperature-min {
  color: white;
  opacity: 0.6;
  margin-right: 2px;
}

.App.night-bg .search-icon {
  fill: var(--background-color);
}

.App.night-bg .weather-details {
  opacity: 0.6;
}
